.container {
    font-size: 20px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.imgInfo{

    max-height: 500px;
    max-width: 440px;

}



.loading__img{
    max-width: 300px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



@media (max-width: 1500px) {
    .container{
        padding-top: 20px;

    }
    .imgInfo{
        max-height: 400px;
        max-width: 340px;

    }
}


@media (max-width: 700px) {
    .container{
        padding: 10px;
    }
    .imgInfo{
        max-height: 400px;
        max-width: 340px;

    }
}



@media (max-width: 700px) {
    .imgInfo{
        max-height: 250px;
        max-width: 240px;

    }
}x