.container {
    padding: 0 20px;
    font-size: 20px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.imgInfo{
    height: 500px;
    width: 440px;

}



.loading__img{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



@media (max-width: 1500px) {
    .container{
        padding: 20px;
    }
    .imgInfo{
        height: 400px;
        width: 340px;

    }
}


@media (max-width: 700px) {
    .container{
        padding: 20px;
    }
    .imgInfo{
        height: 400px;
        width: 340px;

    }
}