.container {
    box-sizing: border-box;
    padding: 100px 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
}


.header{
    padding-left: 20px;
    padding-top: 5px;
    width: 100%;
    height: 90px;
    background-color: skyblue;
}


.card {

    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    width: 400px;
    box-shadow: 10px 10px 40px #434040;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card {

    transition: 0.5s ease;
    cursor: pointer;
}


img {
    width: 350px;
    height: 350px;

}

.title {
    margin-top: 15px;
    color: #13719b;
}


.btn {
    margin-top: 40px;
    font-size: 22px;
    width: 350px;
    height: 50px;
    background-color: transparent;
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 5px;
    color: skyblue;
}


.btn:hover {
    background-color: skyblue;
    color: white;
    box-shadow: 5px 5px 10px #169ed7;
}


@media (max-width: 1750px) {
    .container{
        padding: 100px 42px;
        box-sizing: border-box;
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }


}



@media (max-width: 760px) {
    .container{
        padding: 100px 42px;
        box-sizing: border-box;
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }


}



@media (max-width: 400px) {
    .container{
        padding: 100px 42px;
        box-sizing: border-box;
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
    .card{
        box-sizing: border-box;
        padding: 20px;
        font-size: 18px;
        width: 300px;
        margin-top: 25px;
    }
    img{
        width: 220px;
        height: 210px;
    }
    .btn{
        height: 45px;
        width: 250px;
    }
}